<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS ... -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.59.4/css/patternfly.min.css"
        integrity="sha256-rLJV3jlFRU38RbS+z4Ee+xgtP71nt4Tg+d1OTGmnJkw=" crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.59.4/css/patternfly-additions.min.css"
        integrity="sha256-KnZfZmpoaCHj4USr0APa/T10CTJSIvyf0mZBZPgzeVs=" crossorigin="anonymous" />
    <title>Cools Store Dashboard</title>
</head>

<body class="cards-pf">

    <!-- PatternFly Horizontal Nav -->
    <nav class="navbar navbar-default navbar-pf" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/assets/img/brand.svg" alt="Cool Store Enterprise Application" />
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-collapse-1">
            <ul class="nav navbar-nav navbar-utility">

                <li class="dropdown">
                    <button class="btn btn-link nav-item-iconic" id="horizontalDropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                        <span title="Help" class="fa pficon-help dropdown-title"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="horizontalDropdownMenu1">
                        <li><a href="#0">Help</a></li>
                        <li><a href="#0">About</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                        <span class="pficon pficon-user"></span>
                        <span class="dropdown-title">
                            Brian Johnson <b class="caret"></b>
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#0">Link</a>
                        </li>
                        <li>
                            <a href="#0">Another link</a>
                        </li>
                        <li>
                            <a href="#0">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#0">More options</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#0">Link</a>
                                </li>
                                <li>
                                    <a href="#0">Another link</a>
                                </li>
                                <li>
                                    <a href="#0">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li>
                                    <a href="#0">Separated link</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#0">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#0">One more separated link</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-primary">
                <li>
                    <a href="#0">Catalog</a>
                </li>
                <li class="active">
                    <a href="#0">Orders Dashboard</a>
                </li>
                <li>
                    <a href="#0">Inventory</a>
                </li>
                <li>
                    <a href="#0">Shipping</a>
                </li>
                <li>
                    <a href="#0">Payments</a>
                </li>
                <li>
                    <a href="#0">Invoices</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid container-cards-pf">
        <div class="row row-cards-pf">

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="card-pf card-pf-view ">
                    <div class="card-pf-body">
                        <div class="card-pf-top-element">
                            <span class="fa fa-shopping-cart card-pf-icon-circle"></span>
                        </div>
                        <h2 class="card-pf-title text-center">
                            Orders
                        </h2>
                        <div class="card-pf-items text-center">
                            <div class="card-pf-item">
                                <span class="pficon pficon-orders"></span>
                                <span class="card-pf-item-text"><strong id="count">543,230</strong></span>
                            </div>
                            <div class="card-pf-item">
                                <span class="fa fa-check"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-pf-view-checkbox">
                        <input type="checkbox">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="card-pf card-pf-view ">
                    <div class="card-pf-body">
                        <div class="card-pf-top-element">
                            <span class="fa fa-money card-pf-icon-circle"></span>
                        </div>
                        <h2 class="card-pf-title text-center">
                            Income
                        </h2>
                        <div class="card-pf-items text-center">
                            <div class="card-pf-item">
                                <span class="fa fa-credit-card"></span>
                                <span class="card-pf-item-text"><strong id="total">$1,0345.00</strong></span>
                            </div>
                            <div class="card-pf-item">
                                <span class="fa fa-check"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-pf-view-checkbox">
                        <input type="checkbox">
                    </div>
                </div>
            </div>

        </div><!-- /row -->
        <div class="row row-cards-pf">

            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="card-pf card-pf-view ">
                    <h2 class="card-pf-title">
                        <strong>Potential Frauds</strong>
                    </h2>
                    <div class="card-pf-body">
                        <table class="table table-striped">
                            <tbody id="table">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div><!-- /row -->
    </div><!-- /container -->

    <script>
        var currencyF = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',
        });
        var numberF = new Intl.NumberFormat();
        class Source {
            constructor() {
                this.source = new EventSource("/consume");
                this.source.onopen = (e) => console.log(e);
                this.source.onmessage = ({ data }) => this.updateDoc(data);
            }
            updateDoc(data) {
                console.log("received data= " + data);
                var event = JSON.parse(data);
                if (event.orderId != undefined) {
                    var table = document.getElementById("table")
                    var newRow = table.insertRow(0);
                    newRow.insertCell().appendChild(document.createTextNode(event.orderId.substring(0,10)));
                    newRow.insertCell().appendChild(document.createTextNode(event.name));
                    newRow.insertCell().appendChild(document.createTextNode(currencyF.format(event.total)));
                    newRow.insertCell().appendChild(document.createTextNode(event.ccNumber));
                    newRow.insertCell().appendChild(document.createTextNode(event.status));
                    if (table.rows.length > 25) {
                        table.deleteRow(-1);
                    }
                } 
                else {
                    document.getElementById("count").innerHTML = numberF.format(event.count);
                    document.getElementById("total").innerHTML = currencyF.format(event.totals);
                }
            }
        }
        new Source();
    </script>

</body>

</html>